.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-left a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 40px; /* Добавим отступ справа */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7f8c8d;
    margin-left: 15px;
    cursor: pointer;
}
