<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Забыли пароль</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Забыли пароль</h1>
    <form th:action="@{/forgot-password}" th:object="${passwordResetDto}" method="post" class="login-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Проверить email</button>
        </div>
        <div th:if="${error}" th:text="${error}" class="error"></div>
    </form>
</div>
</body>
</html>
