<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>История транзакций</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/transactions.css}">
</head>
<body>
<div th:replace="~{user-navbar :: navbar}"></div>
<div class="transaction-container">
    <h1>История транзакций</h1>
    <table class="transaction-table">
        <thead>
        <tr>
            <th>Дата зачисления</th>
            <th>Тип пополнения</th>
            <th>Сумма</th>
            <th>Администратор</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction, iterStat : ${transactions}">
            <td th:text="${#temporals.format(transaction.transactionDate, 'dd MMM yyyy HH:mm')}">12 окт 2018 15:35</td>
            <td th:text="${transaction.description}">Платёжное поручение</td>
            <td th:text="${transaction.amount} + ' ₽'">10 000,00 ₽</td>
            <td th:text="${admins[iterStat.index].name + ' ' + admins[iterStat.index].surname}">Иван Иванов</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
