<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/image/log.ico">
    <title></title>
</head>
<body>
<div th:fragment="navbar">
    <div class="navbar">
        <div class="navbar-left">
            <a href="/user/home">Главная</a>
            <a href="/user/broadcast-gaps">Пробелы в вещании</a>
            <a href="/user/audio-recordings">Аудиозаписи</a>
        </div>
        <div class="navbar-right">
            <a href="/user/profile">
                <div class="avatar"></div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
